/* importing fonts */
@import url(//db.onlinewebfonts.com/c/85f15400a6893f11597bee797c020cc3?family=Rimouski);

@font-face {font-family: "Rimouski";
  src: url("//db.onlinewebfonts.com/t/85f15400a6893f11597bee797c020cc3.eot");
  src: url("//db.onlinewebfonts.com/t/85f15400a6893f11597bee797c020cc3.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/85f15400a6893f11597bee797c020cc3.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/85f15400a6893f11597bee797c020cc3.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/85f15400a6893f11597bee797c020cc3.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/85f15400a6893f11597bee797c020cc3.svg#Rimouski") format("svg");
}


@import url('https://fonts.googleapis.com/css?family=Catamaran');


/* importing fonts */

html, body {margin: 0; height: 100%;}

/* body */
body{
  overflow-x: hidden;
  color: #ffffff;

}

button{
  border-radius: 50px;
}


.intro{
  font-family: Catamaran !important;
  font-weight: bold;
}

#showcase p{
  font-size: 20px;
}

/* body */

/* navbar */
.nav-link {
  text-decoration: none;
  color: #ffffff;
  z-index: 1;
  border-radius: 10px;
  margin: 4px;
  margin-bottom: 4px;
}

.icon-bar{
  background: #ffffff;
  color: #ffffff;
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #ffffff;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
  margin-bottom: -10px;
}
.nav-link:hover:before,
.nav-link:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar{
  background-color: #3373ed;
  font-family:Rimouski;
  margin: 0 !important;
  color: #ffffff;
  border-radius: 0px;
}

/* navbar */

/* showcase section */

#showcase{
  background-color: #3373ed;
}
#showcase h1{
  font-size:50px;
  margin-bottom:20px;
}

#showcase img{
  width:100%;
  margin-left:60px;
  margin-bottom: 15rem;
}

#showcase .showcase-right{
  margin-top:90px;
}

.showcase-btn{
  background-color: #ffffff;
  color: #3373ed;
  margin: 4px;
  margin-bottom: 4px;
}

.showcase-btn:hover{
  background-color: #ffffff;
  color: #1752c3;
}
/* showcase section */

/*cards section*/


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  height: 100px;
}

.card{
  color: #1752c3;
  border-radius: 30px;
  margin: 2rem;
  margin-top: -10rem;
  height: 300px;
  width: 290px;
  background-color: #ffffff;
  box-shadow: 5px 10px 8px #888888;
  padding: 20px;
}

.card-text{
  font-family:Catamaran;
  font-weight: bold;
  font-size: 1.75rem;
  color: #1752c3;
  padding: 30px;
  text-align: center;
}

/*cards section*/

/*fields section*/

#field{
  color: #1752c3;
}

#field h1{
  font-size:50px;
  margin-bottom:20px;
}

#field img{
  width:100%;
  margin-left:60px;
}

#field .showcase-right1{
  margin-top:150px;
}

#field .showcase-left1{
  margin-top:150px;
  margin-right: 100px;
}

section.top_lists .lists ul .list-item a {
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #1752c3;
  border-radius: 50px;
  padding: 9px 13px;
  display: block;
  text-decoration: none;
}
section.top_lists .lists ul .list-item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}
.container, .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}
section{
  display: block;
}
.container, .container-fluid {
  margin-right: auto;
  margin-left: auto;
}
.container-fluid :after, :before{
  box-sizing: border-box;
}
section.top_lists .lists ul{
  padding: 0;
  list-style: none;
}
ul{
  margin-bottom: 10px;
  margin-top: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.text-center
{
  text-align: center !important;
}
a{
  text-decoration: none;
}
.opt:hover{
  color: #ffffff;
}
.col-centered {
  margin: 0 auto!important;
  float: none!important;
  display: block!important;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.list-item:hover{
  background-color:#1752c3;
  color: #ffffff !important;
  font-weight: bold;
  border-radius: 50px; 
}

li:hover{
  color: #ffffff;
}

h2 section.top_lists{
  font-family: 'Catamaran';
}

h2{
  font-weight: bold;
  margin-bottom: 40px;
}

/*fields section*/

/*footer section*/

 .footer{
   margin-top: 150px;
   padding: 40px;
   padding-bottom: 0 !important;
   margin-bottom: 0 !important;
  height: auto;
  width: 100%;
  color:#ffffff;
  background-color: #3373ed;
  font-family: Catamaran;
  font-weight: 700;
  font-size: 16px !important;
}


.footer-col{
  margin-right: 150px;
}

.dark{
  width: 100%;
  border:  solid #1752c3;
  margin-top: 0px;
}

.light{
  width: 100%;
  border: solid #4f7be9;
  margin-top: 0px;
}

hr{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 0.1px;
}

.Copyright{
  padding: 30px;
  font-size: 12px;
  text-align: right;
}
/*footer section*/


@media only screen and (max-width: 760px) {

  body{
    overflow-x: hidden;
  }

  .navbar-brand img{
height: 30px;
width: 100px;
  }

  footer img{
   display: none;
  }

  #showcase img{
    width:300px;
    margin-left:60px;
    margin-bottom: .5rem;
  }

  #showcase p{
    font-size: 12px;
  }

  #showcase h1{
    font-size:16px;
  }
  .card{
    margin: auto;
    margin-top: 70px;
    height: 300px;
    width: 290px;
  }

  .footer{
   margin-top: 40px;
   padding: 40px;
   padding-bottom: 0 !important;
   margin-bottom: 0 !important;
  height:auto;
  width: 100%;
  font-size: 10px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
 
.Copyright{
  padding: 30px;
  margin-left: 50px;
  font-size: 9px;
}

.footer-col{
  margin-right: 0px;
}
}
